* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    width: 100vw;
    display:flex;    
    flex-direction: column;
}

:root{
    --bars:royalblue;   
}
  

.header{
    width: 100%;
    height: 100px;
    background-color: var(--bars);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 70px;
    width: 320px;
    margin-left: 50px;    
}

.titulo {
    padding-left: 50px;
}
.titulo >span {
    font-size: 3.9rem;
    font:bold;
}

.main {
    margin: 0.5rem;
    padding: 0.5rem;    
    height: 100%;
    overflow-y: scroll;
    color: aliceblue;
    background-color: #333;
}
.quote{
    width: 250px;
    height: 100px;    
    position: absolute;;
    right: 30px;
    bottom: 20px; 
    background-color: #333;
    color: #c6c6c6;
    border: 0.2rem solid #fff;
    padding: 0.5rem;
    font-size: 1.6rem;
    text-align: justify;    
}

.footer {
    width: 100%;
    height: 100px;
    background-color: var(--bars);
    color:aliceblue;
    display:inline-block;
    margin: 0 auto;
}

.footer a:visited {
    color:aliceblue;
}